.cards
	position: relative
	height: auto
	background-position: center center
	background-attachment: fixed
	background-image: url('../img/cards-bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	z-index: 2
	padding: 100px 0 80px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__wrapper
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 20px
		+r(1199)
			justify-content: space-around
	&__block
		width: 100%
		max-width: 375px
		position: relative
		margin-bottom: 50px
		z-index: 1
		+r(991)
			max-width: 320px
		+r(767)
			max-width: none
		p
			font-size: 20px
			line-height: 1.5em
			color: $blue-zodiac
			+r(767)
				font-size: 18px
			+r(575)
				font-size: 16px
		&_wrapper
			position: relative
			width: 100%
			height: 100%
			&::after
				content: ''
				width: 100%
				height: 100%
				position: absolute
				left: 11px
				top: 11px
				background: rgba(255,255,255,.35)
				border: 1px solid $botticelli
				border-radius: 12px
				z-index: -1
				transition: all .6s ease
		&:hover
			.cards__card
				transform: scale(1.06)
			.cards__block_wrapper
				&::after
					transform: scale(1.1)

	&__card
		position: relative
		width: 100%
		height: 100%
		background: $white
		border-radius: 12px
		transition: all .3s ease
		text-align: center
		box-shadow: 5px 8.66px 50px 0 rgba(122, 149, 164, 0.15)
		padding: 100px 50px 40px

		+r(991)
			padding: 80px 30px 20px
		+r(575)
			padding: 60px 20px 10px
	&__img
		top: -23px
		left: 50%
		transform: translateX(-50%)
		position: absolute
		width: 90px
		height: 90px
		&::before
			content: ''
			width: 96px
			height: 96px
			background: $white
			border-radius: 50%
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
		&::after
			content: ''
			width: 90px
			height: 90px
			left: 0
			position: absolute
			border: 5px solid $tropical-blue
			border-radius: 50%
			z-index: 5
		img
			position: absolute
			width: 46px
			height: 46px
			object-fit: cover
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
