.reviews
	background: url('../img/return-bg.png') center repeat-x
	background-size: cover
	padding: 130px 0 110px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px
	&__slider
		padding-bottom: 95px
		+r(767)
			padding-bottom: 45px
		.swiper-slide
			position: relative
			&__video
				display: block
				text-align: center
			a
				display: block
				overflow: hidden
				border-radius: 8px
				position: relative
				margin-bottom: 25px
				width: 100%
				height: 0
				padding-bottom: 64.87%
				&::before
					content: ''
					width: 98px
					height: 98px
					position: absolute
					background: $crimson
					border-radius: 50%
					right: -36px
					bottom: -36px
					transition: all .3s ease
					z-index: 1
				&::after
					content: ''
					width: 30px
					height: 30px
					position: absolute
					right: 10px
					bottom: 10px
					border-radius: 50%
					background: url('../img/triangle.svg') center no-repeat
					transition: all .6s ease
					z-index: 2
				img
					display: block
					object-fit: cover
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					border: none
				&:hover, &:focus
					&::before
						transform: scale(1.4)
					&::after
						transform: translate(-10px, -10px) scale(1.2)

			time
				font-weight: 400
				font-size: 12px
				color: $bismark

		.swiper-button-prev, .swiper-button-next
			position: relative
			width: 48px
			height: 48px
			background-size: cover
			border-radius: 50%
			top: 0
			left: 0
			margin-top: 0
			flex-shrink: 0
		.swiper-button-prev
			background-image: url('../img/left-arrow.svg')
		.swiper-button-next
			background-image: url('../img/right-arrow.svg')
		.swiper-button-disabled
			opacity: .7
		.swiper-pagination
			position: relative
			display: flex
			justify-content: center
			margin: 0 50px
			align-items: center
			+r(575)
				margin: 0 10px
		.swiper-pagination-bullet
			margin: 0 5px
			background: $nepal-opp-50per
			width: 12px
			height: 12px
			opacity: 1
			&-active
				background: $white
				width: 16px
				height: 16px
	&__name
		font-weight: 500
		font-size: 24px
		color: $blue-zodiac
		line-height: 1.2em

