.contacts-footer
	padding: 155px 0 129px
	background-color: $aqua-haze
	position: relative
	+r(1199)
		padding: 90px 0 0
	+r(991)
		padding: 60px 0 0
	+r(575)
		padding: 40px 0 0
	#map
		width: 50%
		height: 600px
		position: absolute
		left: 50%
		top: 0
		+r(1199)
			height: 300px
			position: relative
			width: 100%
			left: 0
			margin-top: 50px
