.first-screen
	position: relative
	height: auto
	background-position: center center
	background-attachment: fixed
	background-image: url('../img/first-screen-bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	+r(767)
		background-position: left
	+r(420)
		background-position: center
	&__content
		padding: 100px 0 190px
		max-width: 670px
		+r(1199)
			max-width: 530px
			padding: 60px 0 120px
		+r(991)
			max-width: 450px
		+r(767)
			text-align: center
			max-width: none
		+r(575)
			padding: 50px 0 90px
		p
			font-size: 24px
			color: $periwinkle-gray
			line-height: 1.34
			margin: 0 0 25px
			+r(1199)
				font-size: 22px
			+r(991)
				font-size: 18px
			+r(767)
				font-size: 16px
			+r(575)
				br
					display: none
		h1
			font-weight: 400
			font-size: 48px
			line-height: 1.25
			color: $white
			text-transform: uppercase
			margin: 0 0 60px
			+r(1199)
				font-size: 44px
			+r(991)
				font-size: 36px
			+r(767)
				font-size: 30px
			+r(575)
				font-size: 24px
			strong
				font-weight: 700

