.footer
	background: $white
	padding: 70px 0
	+r(991)
		padding:  60px 0
	+r(575)
		padding:  40px 0
	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		+r(767)
			flex-direction: column
	&__copyright
		font-size: 16px
		color: $pickled-bluewood
		font-weight: 400
		+r(767)
			margin-bottom: 20px
	&__social
		display: flex
		a
			display: block
			margin-left: 10px
			&:first-child
				margin-left: 0
		img
			display: block
			width: 36px
			height: 36px
