.header
	display: flex
	align-items: center
	padding: 50px 0
	+r(767)
		padding: 25px 0
		flex-direction: column
	+r(575)
		padding: 20px 0
	.contacts
		margin-left: auto
		+r(767)
			margin: 0 auto
	.logo
		+r(767)
			margin-bottom: 10px
		a
			&:focus
				outline: -webkit-focus-ring-color auto 5px
.contacts
	position: relative
	padding-right: 20px
	display: flex
	flex-wrap: wrap
	justify-content: flex-end
	+r(767)
		padding-right: 0
		justify-content: center
	&__phone
		font-size: 22px
		color: $white
		margin-right: 25px
		line-height: 1.3
		+r(767)
			margin: 0 10px
		span
			color: $periwinkle-gray
		&:focus
			outline: -webkit-focus-ring-color auto 5px
