.join
	padding: 100px 0 10px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__slider
		.swiper-slide
			width: 50%
			position: relative
			height: 0
			padding-bottom: 30%
			+r(991)
				padding-bottom: 50%
			&::before
				content: ''
				width: 100%
				height: 100%
				background: rgba(0,0,0,.25)
				position: absolute
				left: 0
				top: 0
				transition: all .3s ease
			&-active
				&::before
					content: none
		.swiper-button-prev, .swiper-button-next
			width: 64px
			height: 64px
			margin-top: 0
			background-size: cover
			transform: translateY(-50%)
			border-radius: 50%
			box-shadow: 7.5px 12.99px 25px 0 rgba(0, 0, 0, 0.3)
			+r(991)
				width: 50px
				height: 50px
		.swiper-button-prev
			background-image: url('../img/left-arrow.svg')
			left: 23%
			+r(991)
				left: 5%
		.swiper-button-next
			background-image: url('../img/right-arrow.svg')
			right: 23%
			+r(991)
				right: 5%

		a
			display: block
		img
			position: absolute
			display: block
			width: 100%
			top: 0
			left: 0
			height: 100%
