.modal
	max-width: 500px
	position: relative
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(.7)
	&__form
		background: $white
		padding: 50px 30px 40px
		text-align: center
		border-radius: 12px
		.title
			margin-bottom: 10px
		p
			font-size: 20px
			line-height: 1.2em
			margin: 0 0 30px
			color: $pickled-bluewood

		.button
			&:focus
				outline: none
	&:focus
		outline: 0
	.modal__label
		margin-bottom: 20px
		position: relative
		display: block
		&:last-of-type
			margin-bottom: 50px
	input
		position: relative
		width: 100%
		padding: 15px
		line-height: 1em
		font-family: $default-font
		box-shadow: none
		background: transparent
		bottom: 0
		font-size: 16px
		color: $blue-zodiac
		outline: none
		-webkit-appearance: none
		-moz-appearance: none
		border: 1px solid $nepal-opp-50per
		border-radius: 5px
		&::placeholder
			color: $blue-zodiac
			font-family: $default-font

	label
		&.error
			position: absolute
			left: 0
			top: -15px
			width: 100%
			background: $crimson
			color: $white
			z-index: 100
			text-align: center
			border-radius: 3px

.popup_close
	position: absolute
	top: 15px
	right: 15px
	background: transparent
	width: 20px
	height: 20px
	border: none
	transition: all .3s ease
	&::before, &::after
		content: ''
		width: 12px
		height: 2px
		background: $black-pearl
		position: absolute
		left: calc( 50% - 6px )
		top: calc(50% - .5px )
		transition: all .3s ease
	&::before
		transform: rotate(45deg)
	&::after
		transform: rotate(-45deg)
	&:hover
		border-color: $black-pearl
		&::before, &::after
			background: $crimson
		&::before
			transform: rotate(135deg)
		&::after
			transform: rotate(-135deg)
	span
		display: none

.popup_visible
	.modal
		transform: scale(1)



