.products
	padding: 75px 0 100px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__content
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		grid-column-gap: 30px
		grid-row-gap: 50px
		+r(991)
			grid-template-columns: 1fr 1fr
		+r(575)
			grid-template-columns: 1fr
			grid-row-gap: 30px

	&__card
		margin: 0 auto
		&:nth-of-type(1)
			.card-products__img
				&::before
					background-color: $card-color-first
		&:nth-of-type(2)
			.card-products__img
				&::before
					background-color: $card-color-second
		&:nth-of-type(3)
			.card-products__img
				&::before
					background-color: $card-color-third
		&:nth-of-type(4)
			.card-products__img
				&::before
					background-color: $card-color-fourth
		&:nth-of-type(5)
			.card-products__img
				&::before
					background-color: $card-color-fifth
		&:nth-of-type(6)
			.card-products__img
				&::before
					background-color: $card-color-sixth


