.return
	background: url('../img/return-bg.png') center repeat-x
	background-size: cover
	padding: 110px 0 15px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__container
		display: flex
		position: relative
		margin-bottom: 80px
		&::before
			content: ''
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: 30px
			width: 1000px
			height: 45px
			background: url('../img/dash-dotted-line.svg') no-repeat center
			background-size: contain
			+r(1199)
				width: 900px
			+r(991)
				content: none
		+r(991)
			margin-bottom: 50px
			flex-wrap: wrap

	&__block
		width: 25%
		&:last-of-type
			.return__circle
				&:after
					width: 130px
					height: 130px
					border-radius: 50%
					background: $tropical-blue-op-30deg
					transform: translate(-50%, -50%)
					+r(575)
						width: 100px
						height: 100px
		+r(991)
			display: flex
			align-items: center
			width: 100%
			margin-bottom: 30px
			&:last-of-type
				margin-bottom: 0
	&__text
		text-align: center
		font-weight: 500
		font-size: 18px
		color: $blue-zodiac
		z-index: 4
		+r(991)
			text-align: left
		+r(767)
			font-size: 16px
		+r(575)
			font-size: 14px
	&__circle
		width: 110px
		height: 110px
		background: $white
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		position: relative
		z-index: 3
		margin: 0 auto 30px
		flex-shrink: 0
		+r(575)
			width: 75px
			height: 75px
		img
			width: 100px
			height: 100px
			object-fit: contain
			+r(575)
				width: 70px
				height: 70px
		+r(991)
			margin: 0 60px 0 0
		+r(575)
			margin: 0 25px 0 5px
		&::before
			content: ''
			width: 105px
			height: 105px
			position: absolute
			background: white
			border-radius: 50%
			border: 3px solid $tropical-blue-op-30deg
			z-index: 2
			+r(575)
				width: 80px
				height: 80px
		img
			z-index: 3
		&::after
			content: ''
			width: 170px
			height: 127px
			background: url('../img/map-marker.svg')
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-38%, -50%)
			z-index: -1
			+r(575)
				width: 100px
				height: 100px
				background: $tropical-blue-op-30deg
				transform: translate(-50%, -50%)
				border-radius: 50%
