.rules
	padding: 140px 0 75px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__container
		background: $black-squeeze
		border-radius: 10px
		min-height: 550px
		margin-bottom: 50px
		position: relative
		display: flex
		flex-wrap: wrap
		&::before
			content: ''
			width: 150px
			height: 387px
			background: url('../img/rules-woman.svg') center no-repeat
			background-size: cover
			position: absolute
			bottom: -50px
			left: -115px
			+r(767)
				content: none
		&::after
			content: ''
			width: 150px
			height: 387px
			background: url('../img/rules-man.svg') center no-repeat
			background-size: cover
			position: absolute
			bottom: -50px
			right: -120px
			+r(767)
				content: none
	&__elem
		width: 50%
		+r(1199)
			width: 100%
			br
				display: none
	&__info
		position: relative
		padding: 60px 70px 60px 100px
		+r(1199)
			padding: 60px 70px 30px 100px
		+r(767)
			padding: 30px
		h3
			margin: 0 0 30px
			font-weight: 700
			font-size: 24px
			color: $blue-zodiac
			+r(575)
				font-size: 20px
				margin-bottom: 25px
		&--wrapper
			margin-bottom: 50px
			+r(575)
				margin-bottom: 30px
		&--red, &--blue
			padding-left: 40px
			font-weight: 500
			font-size: 18px
			color: $pickled-bluewood
			position: relative
			margin-bottom: 20px
			line-height: 1.35em
			&:last-of-type
				margin-bottom: 0
			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 12px
				height: 24px
		&--red
			&::before
				background-color: $crimson
		&--blue
			&::before
				background-color: $governor-bay
	&__diagram
		padding: 60px 70px 60px 85px
		+r(1199)
			padding: 30px 70px 60px 100px
		+r(767)
			padding: 30px 30px 30px 60px
		+r(767)
			padding: 15px 15px 30px 45px
	&__description
		font-weight: 400
		font-size: 20px
		color: $pickled-bluewood
		background-color: $white
		padding: 35px 40px
		border-radius: 8px
		line-height: 1.5em
		margin-bottom: 30px
		+r(575)
			font-size: 16px
			padding: 15px
	&__block
		font-size: 24px
		color: $blue-zodiac
		font-weight: 700
		line-height: 1.33em
		+r(575)
			font-size: 17px
	&__diagram-line
		position: relative
		margin-bottom: 10px
		&--size
			position: absolute
			text-align: right
			left: -40px
			top: -8px
			font-weight: 500
			font-size: 18px
			color: $blue-zodiac
		&--progress
			border-left: 2px solid $pickled-bluewood
			padding: 10px 0
	&__text
		text-align: center
		p
			color: $pickled-bluewood
			font-size: 18px
			margin-top: 0
			margin-bottom: 10px
			+r(575)
				font-size: 14px
		h4
			font-weight: 900
			font-size: 18px
			text-transform: uppercase
			color: $blue-zodiac
			margin: 0 0 50px
			+r(575)
				font-size: 14px
				margin: 0 0 30px
