.sentence
	padding: 100px 0 75px
	+r(991)
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__video
		margin: 0 75px 55px
		+r(1199)
			margin: 0 0 55px
		+r(991)
			margin: 0 0 30px
	&__list-wrapper
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		width: 100%
		max-width: 1030px
		margin: 0 auto
		h3
			font-weight: 700
			font-size: 24px
			color: $blue-zodiac
			margin: 0 0 30px
			+r(767)
				font-size: 18px
				text-align: center
				margin: 0 0 20px
		ul
			li
				padding-left: 45px
				margin: 0 0 25px
				font-weight: 500
				font-size: 18px
				color: $pickled-bluewood
				position: relative
				+r(991)
					margin: 0 0 15px
					br
						display: none
				+r(767)
					font-size: 16px
				&:last-child
					margin-bottom: 0
				&::before
					content: ''
					width: 16px
					height: 16px
					position: absolute
					left: 0
					top: 3px
					transition: all .1s ease
				&:hover, &:focus
					&::before
						transform: scale(1.1)
	&__list
		width: 50%
		+r(991)
			width: 100%
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
		&:nth-of-type(2n)
			width: calc( 50% - 55px )
			margin-left: 55px
			+r(1199)
				margin-left: 0
			+r(991)
				width: 100%
		&_true
			li
				&::before
					background: url('../img/green-true.svg') center no-repeat
					background-size: cover
		&_false

			li
				&::before
					background: url('../img/red-false.svg') center no-repeat
					background-size: cover
