.whoarewe
	position: relative
	height: auto
	background-position: center center
	background-attachment: fixed
	background-image: url('../img/whoarwe-bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	min-height: 960px
	padding: 120px 0 100px
	overflow: hidden
	+r(991)
		min-height: auto
		padding: 60px 0
	+r(575)
		padding: 40px 0
	&__container
		position: relative
	&__slider
		position: absolute
		width: 680px
		right: 0
		top: 0
		+r(991)
			position: relative
			width: 100%
		&::before
			content: ''
			width: 675px
			height: 690px
			position: absolute
			bottom: -240px
			left: -480px
			background: url('../img/girl.png') center no-repeat
			+r(991)
				content: none
		&-nav
			position: absolute
			bottom: 0
			width: 100%
			height: 50px
			display: flex
			align-items: center
			justify-content: center
		.swiper-container
			padding: 10px 10px 100px 0
			.swiper-button-prev, .swiper-button-next
				position: relative
				width: 48px
				height: 48px
				background-size: cover
				border-radius: 50%
				top: 0
				left: 0
				margin-top: 0
				flex-shrink: 0
			.swiper-button-prev
				background-image: url('../img/left-arrow.svg')
			.swiper-button-next
				background-image: url('../img/right-arrow.svg')
			.swiper-pagination
				position: relative
				margin: 0 50px
				display: flex
				align-items: center
				+r(575)
					margin: 0 10px
				.swiper-pagination-bullet
					margin: 0 5px
					background: $nepal-opp-50per
					width: 12px
					height: 12px
					opacity: 1
					&-active
						background: $casper
						width: 16px
						height: 16px
	&__slide
		background: $white
		display: flex
		padding: 95px 60px 115px
		min-height: 130px
		align-items: center
		border-radius: 12px
		position: relative
		font-size: 24px
		line-height: 1.5em
		color: $pickled-bluewood
		text-align: center
		+r(991)
			padding: 60px 30px
		+r(767)
			font-size: 20px
			padding: 40px 20px
		+r(575)
			font-size: 18px
			padding: 30px 15px
		&::before
			content: ''
			width: 100%
			height: 100%
			background: $bossanova
			opacity: .5
			position: absolute
			left: 12px
			bottom: 12px
			border-radius: 20px
			z-index: -1
		p
			margin: 0
			text-align: center
			width:  100%
