{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" media="all" href="css/app.css"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9pumcofHA1XO-13Dz9bM_Y9kVfJfTKdc"></script>
    <script src="js/app.js"></script>
    <script>
      function initMap(){

        var coordinates = {lat: 55.7591448, lng: 37.6087471};
        var element = document.getElementById('map');
        var option = {
          zoom: 11,
          center: coordinates,
          disableDefaultUI: true,
          styles:
            [{"featureType":"all","elementType":"geometry.fill","stylers":[{"weight":"2.00"}]},{"featureType":"all","elementType":"geometry.stroke","stylers":[{"color":"#9c9c9c"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#eeeeee"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#7b7b7b"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#c8d7d4"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#070707"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]}]
        };

        var map = new google.maps.Map(element, option);

        var image = {
          url: 'img/marker.svg',
          size: new google.maps.Size(68, 68),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(35, 35),
          scaledSize: new google.maps.Size(50, 38)
        };

        var markers = [
          {
            coordMarkers: {lat: 55.772240, lng: 37.601397},
          },
          {
            coordMarkers: {lat: 55.758519, lng: 37.550847},
          },
          {
            coordMarkers: {lat: 55.734225, lng: 37.611159},
          },
          {
            coordMarkers: {lat: 55.745287, lng: 37.682767},
          },
          {
            coordMarkers: {lat: 55.778418, lng: 37.661371},
          },
        ];

        for(var i = 0; i < markers.length; i++){
          addMarker(markers[i]);
        }
        function addMarker(properties) {
          var marker =  new google.maps.Marker({
            position: properties.coordMarkers,
            map: map,
            icon: image,
          });
        }
      }
    </script>
    <!-- END scripts -->

  </body>
</html>
