.button
	position: relative
	display: inline-block
	z-index: 1
	transition: all .3s ease
	cursor: pointer
	background: transparent
	border: 0
	span
		display: block
		color: $white
		font-size: 22px
		line-height: 1em
		font-weight: 900
		text-transform: uppercase
		padding: 30px 60px 35px
		border-radius: 45px
		background-image: linear-gradient( to top, rgb(227,23,13) 0%, rgb(246,108,60) 100%)
		box-shadow: inset 0px -3px 0px 1px rgba(167, 22, 7, 1),inset 0px 0px 2px 2px rgba(255, 255, 255, 0.2)
		transition: all .3s ease
		text-align: center
		+r(991)
			font-size: 20px
			padding: 20px 40px 25px
		+r(575)
			font-size: 14px
			padding: 15px 20px 15px
	&--small
		span
			padding: 15px 30px
			font-size: 16px
	&::before
		content: ''
		width: calc( 100% + 20px )
		height: calc( 100% + 20px )
		position: absolute
		left: -10px
		top: -10px
		background: $valhalla-op-50per
		border-radius: 55px
		z-index: -1
		animation: pulse 1s infinite
		transition: all .3s ease
	&::after
		content: ''
		width: calc( 100% + 10px )
		height: calc( 100% + 10px )
		position: absolute
		left: -5px
		top: -5px
		background: rgba(227,23,13,.3)
		border-radius: 55px
		z-index: -2
		animation: pulse 1s infinite
		transition: all .3s ease
		animation-delay: calc(1s / -3)
	&:hover, &:focus
		span
			box-shadow: inset 0px -4px 0px 1px rgba(167, 22, 7, 1),inset 0px 0px 2px 2px rgba(255, 255, 255, 0.2)
		&::before
			animation-play-state: paused
		&::after
			animation-play-state: paused
	&:focus
		outline: -webkit-focus-ring-color auto 5px
	&:active
		transform: translateY(1px)
		span
			box-shadow: inset 0px -6px 0px 1px rgba(167, 22, 7, 1),inset 0px 0px 2px 2px rgba(255, 255, 255, 0.2)
	@keyframes pulse
		0%
			transform: scale(1)
		50%
			transform: scale(1.05)
		100%
			transform: scale(1)
	&__wrapper
		text-align: center
		&--left
			+r(1199)
				text-align: center
