.card-products
	position: relative
	max-width: 370px
	display: flex
	flex-direction: column

	&__img
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 25px
		&::before
			content: ''
			width: 100%
			height: 400px
			position: absolute
			left: 0
			top: 0
			z-index: -1
			border-radius: 12px
			+r(767)
				height: 210px
				max-width: 205px
				left: 50%
				transform: translateX(-50%)
		&--main
			max-width: 100%
			height: auto
			max-height: 490px
			border-radius: 12px
			+r(767)
				max-height: 250px
		&--logo
			position: absolute
			left: 20px
			top: 20px
			width: 64px
			height: 64px
			border-radius: 50%
			border: 2px solid $tropical-blue
			background-color: $white
	&__text
		margin-top: auto
		font-weight: 500
		font-size: 17px
		min-height: 105px
		color: $pickled-bluewood
		+r(1199)
			br
				display: none
		+r(767)
			font-size: 14px
			min-height: auto
