.progress-bar
	display: block
	margin-left: 30px
	position: relative
	max-width: 270px
	+r(991)
		max-width: 400px
	+r(767)
		max-width: 270px
	+r(575)
		max-width: 230px
	+r(480)
		max-width: 180px
	+r(380)
		max-width: 120px
		margin-left: 20px
	&__label
		display: inline-block
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		color: $pickled-bluewood
		font-size: 16px
		font-weight: 700
		min-width: 550px

	progress
		background-color: transparent
		width: 100%
		max-width: 270px
		border: 0
		height: 30px
		border-radius: 2px
		display: block
		margin-bottom: 20px
		+r(991)
			max-width: 400px
		+r(767)
			max-width: 270px
		+r(575)
			max-width: 230px
		+r(480)
			max-width: 180px
		+r(380)
			max-width: 120px
		&::-webkit-progress-bar
			background-color: transparent
		&::-webkit-progress-value
			border-radius: 2px
		&::-moz-progress-bar
			background-color: transparent

	&--red
		progress
			&::-webkit-progress-value
				background-color: $crimson
	&--blue
		progress
			margin-bottom: 0
			&::-webkit-progress-value
				background-color: $governor-bay
