h2
	&.title
		margin-top: 0
		margin-bottom: 60px
		text-align: center
		font-weight: 900
		font-size: 42px
		color: $black-pearl
		line-height: 1.2em
		+r(991)
			margin-bottom: 50px
			font-size: 38px
			br
				display: none
		+r(757)
			font-size: 32px
		+r(575)
			margin-bottom: 30px
			font-size: 24px
		&--white
			color: $white
		&--big-margin
			margin-bottom: 120px
	&.sub-title
		text-align: left
		margin-top: 0
		margin-bottom: 115px
		font-weight: 900
		font-size: 32px
		color: $black-pearl
		line-height: 1.2em
		+r(1199)
			text-align: center
			margin-bottom: 60px
			br
				display: none
		+r(991)
			margin-bottom: 40px
			font-size: 24px
		+r(575)
			margin-bottom: 30px
			font-size: 20px
h3
	&.title
		margin-top: 0
		margin-bottom: 50px
		text-align: center
		font-weight: 900
		font-size: 24px
		color: $black-pearl
		line-height: 1.2em
		+r(991)
			margin-bottom: 45px
			font-size: 22px
		+r(757)
			font-size: 20px
		+r(575)
			margin-bottom: 30px
			font-size: 18px
