.video
	position: relative
	width: 100%
	height: 0
	padding-bottom: 56.25%
	background-color: #000000
	border-radius: 12px
	overflow: hidden
	&__link
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	&__media
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border: none
	&__button
		position: absolute
		top: 50%
		left: 50%
		z-index: 1
		display: none
		padding: 0
		border-radius: 50%
		width: 90px
		height: 90px
		border: none
		background-color: transparent
		transform: translate(-50%, -50%)
		cursor: pointer
		&-shape
			fill: #ffffff
		&-icon
			fill: #ffffff
		&:focus
			background: rgba(0,0,0,.6)
			outline: none
			.video__button-icon
				fill: #ff0000
	&:hover
		.video__button
			background: rgba(0,0,0,.6)
	&--enabled
		cursor: pointer
		.video__button
			display: block
