<section class="cards">
  <div class="container">
    <h2 class="title">
      Наши 3D фотообои помогут, если у вас:
    </h2>
    <div class="cards__wrapper">
      <div class="cards__block" data-aos="fade-up-right">
        <div class="cards__block_wrapper">
          <div class="cards__card">
          <div class="cards__img">
            <img src="img/card-1.svg" alt="">
          </div>
          <p>
            Низкий средний чек
          </p>
        </div>
        </div>
      </div>
      <div class="cards__block" data-aos="fade-up">
        <div class="cards__block_wrapper">
          <div class="cards__card">
          <div class="cards__img">
            <img src="img/card-2.svg" alt="">
          </div>
          <p>
            Нет сопутствующего
            товара, который повысит
            результат продаж
          </p>
        </div>
        </div>
      </div>
      <div class="cards__block" data-aos="fade-up-left">
        <div class="cards__block_wrapper">
          <div class="cards__card">
          <div class="cards__img">
            <img src="img/card-3.svg" alt="">
          </div>
          <p>
            Есть фотообои, но
            их продажа не показывает
            желаемого результата
          </p>
        </div>
        </div>
      </div>
      <div class="cards__block" data-aos="fade-up-right">
        <div class="cards__block_wrapper">
          <div class="cards__card">
          <div class="cards__img">
            <img src="img/card-4.svg" alt="">
          </div>
          <p>
            У вас нет высоко-
            маржинального продукта
          </p>
        </div>
        </div>
      </div>
      <div class="cards__block" data-aos="fade-up">
        <div class="cards__block_wrapper">
          <div class="cards__card">
          <div class="cards__img">
            <img src="img/card-5.svg" alt="">
          </div>
          <p>
            Оборачиваемость продукта
            с 1 кв.м слишком мала
          </p>
        </div>
        </div>
      </div>
      <div class="cards__block" data-aos="fade-up-left">
        <div class="cards__block_wrapper">
          <div class="cards__card">
          <div class="cards__img">
            <img src="img/card-6.svg" alt="">
          </div>
          <p>
            Ваш конкурент в соседнем
            отделе продает то же самое
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="button__wrapper">
      <a href="#" class="button modal_open" data-aos="zoom-in">
        <span>
          Получить предложение
        </span>
      </a>
    </div>
  </div>
</section>
