<section class="reviews">
  <div class="container">
    <h2 class="title"   data-aos="fade-up">
      Наши клиенты
    </h2>
    <div class="reviews__slider swiper-container">
      <div class="swiper-wrapper" >
        <div class="swiper-slide"
             data-aos="fade-up"
             data-aos-duration="500"
             data-aos-easing="ease-in-sine">
          <div class="swiper-slide__video">
            <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=W5XA1ZFc1ocg">
              <img src="https://i.ytimg.com/vi/W5XA1ZFc1oc/maxresdefault.jpg" alt="Отзыв от">
            </a>
          </div>
          <div class="reviews__name">
            Алексей, Красноусольск
          </div>
          <time datetime="2019-02-07">
            07.02.2019
          </time>
        </div>
        <div class="swiper-slide"
             data-aos="fade-up"
             data-aos-duration="700"
             data-aos-easing="ease-in-sine">
          <div class="swiper-slide__video">
            <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=W5XA1ZFc1ocg">
              <img src="img/video-default.jpg" alt="Отзыв от">
            </a>
          </div>
          <div class="reviews__name">
            Ильшат, Уфа
          </div>
          <time datetime="2019-02-07">
            30.01.2019
          </time>
        </div>
        <div class="swiper-slide"
             data-aos="fade-up"
             data-aos-duration="900"
             data-aos-easing="ease-in-sine">
          <div class="swiper-slide__video">
            <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=W5XA1ZFc1ocg">
              <img src="img/video-default.jpg" alt="Отзыв от">
            </a>
          </div>
          <div class="reviews__name">
            Зухра, Уфа
          </div>
          <time datetime="2019-02-07">
            29.01.2019
          </time>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__video">
            <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=W5XA1ZFc1ocg">
              <img src="img/video-default.jpg" alt="Отзыв от">
            </a>
          </div>
          <div class="reviews__name">
            Юрий Смола, Красноусольск
          </div>
          <time datetime="2019-02-07">
            01.03.2019
          </time>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__video">
            <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=W5XA1ZFc1ocg">
              <img src="img/video-default.jpg" alt="Отзыв от">
            </a>
          </div>
          <div class="reviews__name">
            Артем, Октябрьский
          </div>
          <time datetime="2019-02-07">
            26.03.2019
          </time>
        </div>
      </div>
      <div class="whoarewe__slider-nav">
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

  </div>
</section>
