<section class="contacts-footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h2 class="sub-title"   data-aos="fade-up"
            data-aos-offset="50"
        >
          Зарабатывайте еще больше <br>
          Фотообои со стереоскопическим <br>
          3D эффектом
        </h2>
        <div class="button__wrapper--left">
          <a href="#" class="button modal_open">
          <span>
            Получить предложение
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="map">
  </div>

</section>
