<section class="first-screen">
  {% include "section/_header.html" %}
  <div class="container">
    <div class="first-screen__content">
      <p>
        Вы работаете с обоями, настенным декором <br>
        и другими видами внутренней отделки?
      </p>
      <h1>
        Как <strong>с 3D фотообоями Fbrush</strong> сделать так,
        чтобы клиент покупал больше и <strong>прибыль росла</strong>
      </h1>
      <a href="#" class="button modal_open">
        <span>
          Начать зарабатывать сейчас
        </span>
      </a>
    </div>
  </div>
</section>
