<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__copyright">
        © Fbrush интернет-магазин, 2003-2019
      </div>
      <div class="footer__social">
        <a href="#">
          <img src="img/instagram.svg" alt="">
        </a>
        <a href="#">
          <img src="img/vk.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>
