<div class="container">
  <header class="header">
      <div class="logo">
        <a href="#">
          <img src="img/logo.png" alt="">
        </a>
      </div>
      <div class="contacts">
        <a href="tel:+84957339866" class="contacts__phone">
          <span>8 (495)</span> 733-98-66
        </a>
        <a href="tel:+88005050102" class="contacts__phone">
          <span>8 (800)</span> 505-01-02
        </a>
      </div>
  </header>
</div>
