<section class="join">
  <div class="container">
    <h2 class="title"  data-aos="fade-up">
      Уже более 1000 магазинов зарабатывают вместе с нами! <br>
      Присоединяйтесь!
    </h2>
  </div>
  <div class="join__slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a data-fancybox="join" href="img/join-slider-1.jpg">
          <img src="img/join-slider-1.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="join" href="img/join-slider-2.jpg">
          <img src="img/join-slider-2.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="join" href="img/join-slider-3.jpg">
          <img src="img/join-slider-3.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="join" href="img/join-slider-1.jpg">
          <img src="img/join-slider-1.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="join" href="img/join-slider-2.jpg">
          <img src="img/join-slider-2.jpg" alt="">
        </a>
      </div>
      <div class="swiper-slide">
        <a data-fancybox="join" href="img/join-slider-3.jpg">
          <img src="img/join-slider-3.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
