<div id="modal" class="modal">
  <form action="sendmail.php" class="modal__form form">
    <h2 class="title">
      Оставьте заявку
    </h2>
    <p>
      наш менеджер свяжется с Вами
    </p>
    <label class="modal__label">
      <input type="text" name="name" placeholder="Введите Имя" required>
    </label>
    <label class="modal__label">
      <input type="tel" name="tel" placeholder="Введите Телефон" required>
    </label>
    <div class="modal__label">
      <input type="hidden" name="formName" value="Обраный звонок" required>
    </div>
    <div class="button__wrapper">
      <button class="button button--small">
      <span>
        Получить консультацию
      </span>
      </button>
    </div>
  </form>
</div>
<div id="thanks" class="modal">
  <div class="modal__form form">
    <h2 class="title">
      Спасибо за заявку!
    </h2>
    <p>
      Наши менеджеры свяжутся с вами, <br>
      <strong>в кратчайшие сроки</strong>
    </p>
  </div>
</div>
