<section class="products">
  <div class="container">
    <h2 class="title" data-aos="fade-up">
      Продукция Fbrush. Готовая и под заказ
    </h2>
    <div class="products__content">
      <div class="products__card card-products"
           data-aos="fade-right"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine"
          >
        <div class="card-products__img">
          <img src="img/products-card-1.png" alt="" class="card-products__img--main">
          <img src="img/products-card-1-logo.jpg" alt="" class="card-products__img--logo">
        </div>
        <div class="card-products__text">
          Flizetto - флизелиновые фотообои. <br>
          Максимально легкий монтаж. Влагостойкие, обладают армирующим эффектом
        </div>
      </div>
      <div class="products__card card-products"
           data-aos="fade-right"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine"
           >
        <div class="card-products__img">
          <img src="img/products-card-2.png" alt="" class="card-products__img--main">
          <img src="img/products-card-2-logo.png" alt="" class="card-products__img--logo">
        </div>
        <div class="card-products__text">
          ecoXLe - широкоформатные бумажные фотообои. Экономное решение для <br>
          Ваших Клиентов - безупречное качество

        </div>
      </div>
      <div class="products__card card-products"
           data-aos="fade-right"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine"
           >
        <div class="card-products__img">
          <img src="img/products-card-3.png" alt="" class="card-products__img--main">
          <img src="img/products-card-3-logo.jpg" alt="" class="card-products__img--logo">
        </div>
        <div class="card-products__text">
          Сверхширокие фотообои БЕЗШВА - фотообои без
          стыков и швов. Цельное полотно имеет ширину 155 см
        </div>
      </div>
      <div class="products__card card-products"
           data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine"
        >
        <div class="card-products__img">
          <img src="img/products-card-4.png" alt="" class="card-products__img--main">
        </div>
        <div class="card-products__text">
          Можете начать без вложений с нашими каталогами,
          подключим к сайту Fbrush.ru. Принимайте заказы, отправляйте их нам
        </div>
      </div>
      <div class="products__card card-products"
           data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine"
        >
        <div class="card-products__img">
          <img src="img/products-card-5.png" alt="" class="card-products__img--main">
        </div>
        <div class="card-products__text">
          Фоновые обои Flizetto идеально
          сочетаются и комбинируются с фотообоями Fbrush
        </div>
      </div>
      <div class="products__card card-products"
           data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine"
        >
        <div class="card-products__img">
          <img src="img/products-card-6.png" alt="" class="card-products__img--main">
        </div>
        <div class="card-products__text">
          Qleu - собственная торговая марка клеев для всех типов бумажных,
          флизелиновых обоев и фотообоев с высоким содержание
          клеющих веществ, а также обойных швов
        </div>
      </div>
    </div>
  </div>
</section>
