<section class="return">
  <div class="container">
    <h3 class="title"  data-aos="fade-up">
      ГАРАНТИРОВАННЫЙ ВОЗВРАТ!
    </h3>
    <div class="return__container">
      <div class="return__block"
           data-aos="fade-up"
           data-aos-duration="500"
           data-aos-easing="ease-in-sine"
          >
        <div class="return__circle">
          <img src="img/return-buy.svg" alt="">
        </div>
        <div class="return__text">
          Покупаете фотообои
        </div>
      </div>

      <div class="return__block"
           data-aos="fade-up"
           data-aos-duration="700"
           data-aos-easing="ease-in-sine">
        <div class="return__circle">
          <img src="img/return-broken-heart.svg" alt="">
        </div>
        <div class="return__text">
          Фотообои залежались
          или не оправдали ожиданий
        </div>
      </div>

      <div class="return__block"
           data-aos="fade-up"
           data-aos-duration="900"
           data-aos-easing="ease-in-sine"
      >
        <div class="return__circle">
          <img src="img/return-go-back.svg" alt="">
        </div>
        <div class="return__text">
          Верните нам
        </div>
      </div>

      <div class="return__block"
           data-aos="fade-up"
           data-aos-duration="1100"
           data-aos-easing="ease-in-sine"
      >
        <div class="return__circle">
          <img src="img/return-like.svg" alt="">
        </div>
        <div class="return__text">
          Мы подберем
          лучшую замену
        </div>
      </div>

    </div>
    <div class="button__wrapper">
      <a href="#" class="button modal_open" data-aos="zoom-in" >
      <span>
        Получить предложение
      </span>
      </a>
    </div>
  </div>
</section>
