<section class="rules">
  <div class="container">
    <h2 class="title"  data-aos="fade-up">
      Мы за правильное использование <br>
      торговой площади!
    </h2>
    <div class="rules__container" data-aos="zoom-in">
      <div class="rules__elem rules__info"
           data-aos="fade-right"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <h3>
          Средний товарооборот
        </h3>
        <div class="rules__info--wrapper">
          <div class="rules__info--red">
            Обычные обои
          </div>
          <div class="rules__info--blue">
            Фотообои
          </div>
        </div>
        <div class="rules__description">
          Товарооборот фотообоев с 1м2 <br>
          от 36 000 руб. при средней <br>
          стоимости одного тубуса 3 648 руб.
        </div>
        <div class="rules__block">
          Фотообои «зарабатывают» <br>
          в 4,2 раза больше!
        </div>
      </div>
      <div class="rules__elem rules__diagram"
           data-aos="fade-left"
           data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <div class="rules__diagram-line">
          <div class="rules__diagram-line--size">
            1м<sup>2</sup>
          </div>
          <div class="rules__diagram-line--progress">
            <div class="progress-bar  progress-bar--red">
              <span class="progress-bar__label" style="padding-left: 7.5%">7 500 руб</span>
              <progress max="128" value="7.5"></progress>
            </div>
            <div class="progress-bar progress-bar--blue">
              <span class="progress-bar__label" style="padding-left: 27%">32 000 руб</span>
              <progress max="128" value="32"></progress>
            </div>
          </div>
        </div>
        <div class="rules__diagram-line">
          <div class="rules__diagram-line--size">
            2м<sup>2</sup>
          </div>
          <div class="rules__diagram-line--progress">
            <div class="progress-bar  progress-bar--red">
              <span class="progress-bar__label" style="padding-left: 13%">15 000 руб</span>
              <progress max="128" value="15"></progress>
            </div>
            <div class="progress-bar progress-bar--blue">
              <span class="progress-bar__label" style="padding-left: 52%">64 000 руб</span>
              <progress max="128" value="64"></progress>
            </div>
          </div>
        </div>
        <div class="rules__diagram-line">
          <div class="rules__diagram-line--size">
            3м<sup>2</sup>
          </div>
          <div class="rules__diagram-line--progress">
            <div class="progress-bar  progress-bar--red">
              <span class="progress-bar__label" style="padding-left: 19%">22 500 руб</span>
              <progress max="128" value="22.5"></progress>
            </div>
            <div class="progress-bar progress-bar--blue">
              <span class="progress-bar__label" style="padding-left: 78%">96 000 руб</span>
              <progress max="128" value="96"></progress>
            </div>
          </div>
        </div>
        <div class="rules__diagram-line">
          <div class="rules__diagram-line--size">
            4м<sup>2</sup>
          </div>
          <div class="rules__diagram-line--progress">
            <div class="progress-bar  progress-bar--red">
              <span class="progress-bar__label" style="padding-left: 30%">30 000 руб</span>
              <progress max="128" value="30"></progress>
            </div>
            <div class="progress-bar progress-bar--blue">
              <span class="progress-bar__label" style="padding-left: 102%">128 000 руб</span>
              <progress max="128" value="128"></progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rules__text">
      <p>
        Используйте различные варианты стендов, которые вмещают еще больше продукции!
      </p>
      <h4>
        На разные комплекты действуют БОНУСЫ!
      </h4>
      <div class="button__wrapper" >
        <a href="#" class="button modal_open" data-aos="zoom-in">
          <span>
            Получить БОНУС сейчас
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
