<section class="sentence">
  <div class="container">
    <h2 class="title" data-aos="fade-up">
      Фотообои Fbrush. Что мы предлагаем?
    </h2>
    <div class="sentence__video" data-aos="zoom-in-down">
      <div class="video">
        <a class="video__link" href="https://youtu.be/W5XA1ZFc1oc">
          <picture>
            <source srcset="https://i.ytimg.com/vi_webp/W5XA1ZFc1oc/maxresdefault.webp" type="image/webp">
            <img class="video__media" src="https://i.ytimg.com/vi/W5XA1ZFc1oc/maxresdefault.jpg" alt="1. Пилот, разборы, ответы и лайвы">
          </picture>
        </a>
        <button class="video__button" type="button" aria-label="Запустить видео">
          <svg x="0px" y="0px" width="90px" height="90px">
            <g>
              <path class="video__button-shape" d="M45,2c23.7,0,43,19.3,43,43S68.7,88,45,88S2,68.7,2,45S21.3,2,45,2 M45,0C20.1,0,0,20.1,0,45s20.1,45,45,45 s45-20.1,45-45S69.9,0,45,0L45,0z"/>
            </g>
            <polygon class="video__button-icon" points="39.5,60 39.5,30 58.5,45 "/>
          </svg>
        </button>
      </div>
    </div>
    <div class="sentence__list-wrapper">
      <div class="sentence__list" data-aos="fade-up-right" >
        <h3>
          Что мы сделаем для вас:
        </h3>
        <ul class="sentence__list_true">
          <li>
            Быстро отправим
          </li>
          <li>
            Предоставим стойки, каталоги, выклейки, <br>
            рекламные материалы за наш счет
          </li>
          <li>
            Обучим персонал продавать
          </li>
          <li>
            Дадим возможность зарабатывать на 100% наценке
          </li>
          <li>
            Закрепим за вами персонального менеджера
          </li>
          <li>
            Доработка дизайнером индивидуальных заказов
          </li>
        </ul>
      </div>
      <div class="sentence__list" data-aos="fade-up-left">
        <h3>
          Что вам не придется делать:
        </h3>
        <ul class="sentence__list_false">
          <li>
            Вкладывать крупные средства <br>
            (отгрузка от 1 тубуса)
          </li>
          <li>
            Заботиться о складировании (на стойке
            умещается от 30 до 96 тубусов)
          </li>
          <li>
            Заботиться об ассортименте, мы подберем
            для вас самую огненную матрицу
          </li>
          <li>
            Думать о логистике, подберем оптимальный
            вариант доставки
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
