<section class="whoarewe">
  <div class="container">
    <h2 class="title title--white title--big-margin">
      Кто мы?
    </h2>
    <div class="whoarewe__container">
      <div class="whoarewe__slider">
        <div class=" swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="whoarewe__slide">
              <p>
                Наш успешный 5 летний опыт помог нам выработать слаженную и эффективную систему сотрудничества. Мы поднимем Ваш бизнес
                на новый уровень возможностей.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="whoarewe__slide">
              <p>
                Мы имеем 2 производственные базы в Самаре и Татарстане
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="whoarewe__slide">
              <p>
                Реализуем продукцию по всей России, странам СНГ и Европы
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="whoarewe__slide">
              <p>
                Активно принимаем участие в крупнейших выставках
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="whoarewe__slide">
              <p>
                Лучший предприниматель Татарстана
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="whoarewe__slide">
              <p>
                “Лучший экспортер года” 2017 года и 2018 года
              </p>
            </div>
          </div>
        </div>
        <div class="whoarewe__slider-nav">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>
      </div>
    </div>
  </div>
</section>
